.movieDetails {
    display: grid;
    grid-template-columns: auto 1fr; /* Первый столбец для постера, второй для остальной информации */
    gap: 20px; /* Пространство между элементами */
    align-items: center; /* Выравниваем элементы по вертикали */
}

.poster {
    width: 200px; /* Задайте нужную ширину постера */
}

.movie-title {
    font-size: 24px; /* Задайте нужный размер шрифта для названия */
    margin-bottom: 10px; /* Отступ снизу от названия */
}

.overview {
    margin-bottom: 10px; /* Отступ снизу от обзора */
}

.genres-title {
    font-weight: bold; /* Сделать название жанров жирным */
}

.genres {
    list-style: none; /* Убрать маркеры списка */
    padding: 0; /* Убрать отступы внутри списка */
}

.genre-name {
    margin-right: 10px; /* Отступ между жанрами */
}

.vote-average,
.runtime,
.language,
.tagline,
.status,
.vote-count {
    margin-bottom: 10px; /* Отступ снизу от других элементов */
}
