:root {
    font-family: sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #141414;
    color: white;
}   

.main-container {
    display: grid;
    grid-template-rows: auto 1fr auto; /* Определяем строки с авто размером, контентом, и футером */
    min-height: 100vh; /* Минимальная высота контейнера */
    gap: 10px; /* Пространство между элементами */
}

