.movie-card {
    display: inline-flex;
    flex-direction: column;
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(black, .3);
    transition: transform 0.2s;
}

.movie-card:hover {
    cursor: pointer;
    transform: scale(1.1);
}


.movie-img {
    width: 100%;
    height: auto;
}

.movie-card .movie-title {
    font-size: 18px;
    margin-bottom: 5px;
    text-decoration: none;
}

.movie-overview {
    font-size: 14px;
    text-decoration: none;
    color: #666;
}
