.footer {
    background-color: black;
    text-align: center; /* Выравниваем содержимое по центру */
    padding: 10px; /* Отступы */
    max-height: 100px;
    bottom: 0;
}

.footer-credit {
    color: white;
}